In [1]:
import pandas as pd
import numpy as np

Reproducibility: Any functions that generate random numbers in NumPy (such as numpy.random.rand() or numpy.random.randint()) will now generate the same random number sequence each time the code runs.


Fixed sequence: The random numbers generated are no longer "truly" random. NumPy will generate pseudorandom numbers based on an initial seed value of 101.


Rules out randomness: By setting the seed, we lose randomness, which may not be suitable for some cases. For example, in machine learning, we typically want to try models with different random weight initializations.

By setting a seed value for the random number generator in NumPy, what we are essentially doing is:

Initializing the random number generator to a known state:

The seed acts as an input to the random number generator algorithm that produces a sequence of pseudorandom numbers.
Setting the seed initializes the internal state of the algorithm.
Making the random sequence predictable and reproducible:

With a fixed seed, the random number generator will always produce the same sequence of pseudorandom numbers each time we run the code.
This makes the sequence reproducible - useful for testing, experimentation, and ensuring consistency between runs.
Removing "true" randomness:

With a fixed seed, the numbers generated are not truly random anymore, but follow a predictable pattern based on the algorithm and seed.
This may not be suitable in cases where we explicitly rely on randomness across trials.

In [2]:
from numpy.random import randn
np.random.seed(101)

In [20]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),
                  columns='W X Y Z'.split())

In [21]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [15]:
df1 = pd.DataFrame(randn(5,4),index=['A', 'B', 'C', 'D', 'E'],
                  columns=['W','X', 'Y', 'Z'])

# This is same as above code. Using split is easy and faster option

In [16]:
df1

          W         X         Y         Z
A  0.327845  0.674485 -0.174057  0.780140
B -0.383258 -0.409318  0.343539  0.196275
C -0.982776  2.231555 -0.971393 -1.522333
D  1.133703  0.528187  0.393461 -0.630507
E -1.398290 -0.219311 -0.045676  0.012421

## Selection and Indexing

In [22]:
df['W']

A    0.093628
B   -0.380104
C    0.178009
D    1.130018
E   -0.125381
Name: W, dtype: float64

In [23]:
df[['W','Z']]

          W         Z
A  0.093628 -1.908009
B -0.380104  1.522562
C  0.178009  1.743477
D  1.130018 -1.063049
E -0.125381 -1.046358

In [24]:
df.W

A    0.093628
B   -0.380104
C    0.178009
D    1.130018
E   -0.125381
Name: W, dtype: float64

### DataFrame Columns are just Series

In [25]:
type(df['W'])

pandas.core.series.Series

#### Creating a new column

In [39]:
df['new'] = df['W'] + df['Y']

In [40]:
df

          W         X         Y         Z       new
A  0.093628  1.240813 -1.097693 -1.908009 -1.004065
B -0.380104 -1.666059 -2.736995  1.522562 -3.117098
C  0.178009 -0.626805 -0.391089  1.743477 -0.213080
D  1.130018  0.897796  0.330866 -1.063049  1.460884
E -0.125381 -0.945588  2.029544 -1.046358  1.904163

#### Numpy: axis=0 = rows, axis=1 = columns

#### Pandas: axis=0 = rows, axis=1 = columns

In [41]:
df.drop('new', axis=1)

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [42]:
df
# We dropped it but original will not change unless specified

          W         X         Y         Z       new
A  0.093628  1.240813 -1.097693 -1.908009 -1.004065
B -0.380104 -1.666059 -2.736995  1.522562 -3.117098
C  0.178009 -0.626805 -0.391089  1.743477 -0.213080
D  1.130018  0.897796  0.330866 -1.063049  1.460884
E -0.125381 -0.945588  2.029544 -1.046358  1.904163

In [43]:
df.drop('new',axis=1, inplace=True)

In [44]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [45]:
df.drop('E', axis=0)

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049

### Selecting Rows

In [50]:
df['A']

# Cannot get row like column and that's why have to use 'loc'

KeyError: 'A'

In [47]:
df.loc['A']

W    0.093628
X    1.240813
Y   -1.097693
Z   -1.908009
Name: A, dtype: float64

In [51]:
df.loc['B']

W   -0.380104
X   -1.666059
Y   -2.736995
Z    1.522562
Name: B, dtype: float64

In [53]:
df.iloc[2]
# Same as df.loc['B']

W    0.178009
X   -0.626805
Y   -0.391089
Z    1.743477
Name: C, dtype: float64

### Selecting subset of rows and columns

In [54]:
df.loc['B','Y']

-2.7369945956467303

In [56]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.093628 -1.097693
B -0.380104 -2.736995

## Conditional Selection

In [57]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [58]:
df > 0

       W      X      Y      Z
A   True   True  False  False
B  False  False  False   True
C   True  False  False   True
D   True   True   True  False
E  False  False   True  False

In [59]:
df[df>0]

          W         X         Y         Z
A  0.093628  1.240813       NaN       NaN
B       NaN       NaN       NaN  1.522562
C  0.178009       NaN       NaN  1.743477
D  1.130018  0.897796  0.330866       NaN
E       NaN       NaN  2.029544       NaN

In [61]:
df[df['W']>0]
# Only where 'W' > 0. Other conditions doesn't matter

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049

In [63]:
df[df['W']>0]['Y']
# give me 'Y' Where 'W'>0

A   -1.097693
C   -0.391089
D    0.330866
Name: Y, dtype: float64

In [65]:
df[df['Y']>0][['Y','X']]

          Y         X
D  0.330866  0.897796
E  2.029544 -0.945588

In [68]:
df[(df['W']>1) & (df['Y']>0)]
# first write inner condition and then add '&'

          W         X         Y         Z
D  1.130018  0.897796  0.330866 -1.063049

## More Index Details

In [69]:
df

          W         X         Y         Z
A  0.093628  1.240813 -1.097693 -1.908009
B -0.380104 -1.666059 -2.736995  1.522562
C  0.178009 -0.626805 -0.391089  1.743477
D  1.130018  0.897796  0.330866 -1.063049
E -0.125381 -0.945588  2.029544 -1.046358

In [70]:
# Reset to default 0,1,....,n index
df.reset_index()

  index         W         X         Y         Z
0     A  0.093628  1.240813 -1.097693 -1.908009
1     B -0.380104 -1.666059 -2.736995  1.522562
2     C  0.178009 -0.626805 -0.391089  1.743477
3     D  1.130018  0.897796  0.330866 -1.063049
4     E -0.125381 -0.945588  2.029544 -1.046358

In [73]:
newind = 'CA NY WY OR CO'.split()

In [74]:
df['States'] = newind

In [75]:
df

          W         X         Y         Z States
A  0.093628  1.240813 -1.097693 -1.908009     CA
B -0.380104 -1.666059 -2.736995  1.522562     NY
C  0.178009 -0.626805 -0.391089  1.743477     WY
D  1.130018  0.897796  0.330866 -1.063049     OR
E -0.125381 -0.945588  2.029544 -1.046358     CO

In [77]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.093628  1.240813 -1.097693 -1.908009
NY     -0.380104 -1.666059 -2.736995  1.522562
WY      0.178009 -0.626805 -0.391089  1.743477
OR      1.130018  0.897796  0.330866 -1.063049
CO     -0.125381 -0.945588  2.029544 -1.046358

In [78]:
df

          W         X         Y         Z States
A  0.093628  1.240813 -1.097693 -1.908009     CA
B -0.380104 -1.666059 -2.736995  1.522562     NY
C  0.178009 -0.626805 -0.391089  1.743477     WY
D  1.130018  0.897796  0.330866 -1.063049     OR
E -0.125381 -0.945588  2.029544 -1.046358     CO

In [79]:
df.set_index('States',inplace=True)

In [80]:
df

               W         X         Y         Z
States
CA      0.093628  1.240813 -1.097693 -1.908009
NY     -0.380104 -1.666059 -2.736995  1.522562
WY      0.178009 -0.626805 -0.391089  1.743477
OR      1.130018  0.897796  0.330866 -1.063049
CO     -0.125381 -0.945588  2.029544 -1.046358

In [81]:
df

               W         X         Y         Z
States
CA      0.093628  1.240813 -1.097693 -1.908009
NY     -0.380104 -1.666059 -2.736995  1.522562
WY      0.178009 -0.626805 -0.391089  1.743477
OR      1.130018  0.897796  0.330866 -1.063049
CO     -0.125381 -0.945588  2.029544 -1.046358

## Multi-Index and Index Hierarchy

In [82]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

# hier_index = list(zip(outside,inside)): This uses the zip function to pair corresponding elements from the outside and inside lists, creating a list of tuples. The resulting list looks like this: [('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)].

# hier_index = pd.MultiIndex.from_tuples(hier_index): This converts the list of tuples into a pandas MultiIndex using the from_tuples method. This MultiIndex will be used for hierarchical indexing in a DataFrame.

In [83]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [85]:
df =pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [86]:
df

             A         B
G1 1  0.754121 -0.772041
   2 -0.034432  0.688408
   3  0.081523 -0.415191
G2 1  0.053661 -2.115113
   2 -0.279510  1.062710
   3  1.752014  0.695547

In [87]:
df['G1']

KeyError: 'G1'

In [88]:
df.loc['G1']

          A         B
1  0.754121 -0.772041
2 -0.034432  0.688408
3  0.081523 -0.415191

In [90]:
df.loc['G1'].loc[1]

A    0.754121
B   -0.772041
Name: 1, dtype: float64

In [91]:
df.index.names

FrozenList([None, None])

In [92]:
df.index.names= ['Group','Num']

In [93]:
df

                  A         B
Group Num
G1    1    0.754121 -0.772041
      2   -0.034432  0.688408
      3    0.081523 -0.415191
G2    1    0.053661 -2.115113
      2   -0.279510  1.062710
      3    1.752014  0.695547

In [95]:
df.xs('G1')

# the code is extracting the rows from the DataFrame where the outer level of the MultiIndex is equal to 'G1'. It returns a DataFrame that includes all the rows where the value in the outer level of the MultiIndex is 'G1'.

            A         B
Num
1    0.754121 -0.772041
2   -0.034432  0.688408
3    0.081523 -0.415191

In [103]:
df.xs(['G1',1])

/var/folders/lq/bb09dcm13557jqlh7zyq8n_c0000gn/T/ipykernel_92986/215751331.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A    0.754121
B   -0.772041
Name: (G1, 1), dtype: float64

In [105]:
df

                  A         B
Group Num
G1    1    0.754121 -0.772041
      2   -0.034432  0.688408
      3    0.081523 -0.415191
G2    1    0.053661 -2.115113
      2   -0.279510  1.062710
      3    1.752014  0.695547

In [106]:
df.xs(1,level='Num')
# Get the values where 'Num' value is 1

              A         B
Group
G1     0.754121 -0.772041
G2     0.053661 -2.115113