In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [6]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna(axis=1)
# axis = 1 means column

   C
0  1
1  2
2  3

In [9]:
df.dropna(thresh=2)

# thresh=2: The thresh parameter specifies the threshold for non-null values. In this case, it is set to 2, meaning that a row will be kept only if it has at least 2 non-null values. Rows with 2 or more non-null values will be retained, and rows with fewer than 2 non-null values will be dropped.

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [11]:
df.fillna(value='Fill Vlaue')

            A           B  C
0         1.0         5.0  1
1         2.0  Fill Vlaue  2
2  Fill Vlaue  Fill Vlaue  3

In [12]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [13]:
df['A'].fillna(value=df['A'].mean())
# So mean of column 'A' is filled at different missing values in column 'A'

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64