# Everything about Pandas in one notebook

* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

In [1]:
import numpy as np
import pandas as pd

#### Creating a Series

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### 1) Using Lists

In [3]:
pd.Series(data=my_list)
# index are generated naturally but we can change them.

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list, index=labels)
# Now lables are changed according to our need.

a    10
b    20
c    30
dtype: int64

#### 2) Arrays

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

#### 3) Using Dictionary

In [8]:
pd.Series(d)
# As you know dictionaries are key-value pairs and 'keys' are labels here and 'values' are series.

a    10
b    20
c    30
dtype: int64

#### A pandas series can hold a variety of object types

In [9]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Functions in series
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

#### Using an Index

In [11]:
ser1 = pd.Series([1,2,3,4], index = ['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:
ser2 = pd.Series([1,2,5,4], index=['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [14]:
ser1['USA']

1

In [15]:
ser3 = pd.Series([1,2,3,4], index=['Japan','USA', 'Germany', 'USSR'])
ser3

Japan      1
USA        2
Germany    3
USSR       4
dtype: int64

In [19]:
ser1, ser3

(USA        1
 Germany    2
 USSR       3
 Japan      4
 dtype: int64,
 Japan      1
 USA        2
 Germany    3
 USSR       4
 dtype: int64)

In [17]:
ser1 + ser3
# adding based on index

Germany    5
Japan      5
USA        3
USSR       7
dtype: int64