# Everything about Pandas in one notebook

* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

In [1]:
import numpy as np
import pandas as pd

## Series

#### Creating a Series

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

#### 1) Using Lists

In [3]:
pd.Series(data=my_list)
# index are generated naturally but we can change them.

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list, index=labels)
# Now lables are changed according to our need.

a    10
b    20
c    30
dtype: int64

#### 2) Arrays

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

#### 3) Using Dictionary

In [8]:
pd.Series(d)
# As you know dictionaries are key-value pairs and 'keys' are labels here and 'values' are series.

a    10
b    20
c    30
dtype: int64

#### A pandas series can hold a variety of object types

In [9]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Functions in series
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

#### Using an Index

In [11]:
ser1 = pd.Series([1,2,3,4], index = ['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:
ser2 = pd.Series([1,2,5,4], index=['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [14]:
ser1['USA']

1

In [15]:
ser3 = pd.Series([1,2,3,4], index=['Japan','USA', 'Germany', 'USSR'])
ser3

Japan      1
USA        2
Germany    3
USSR       4
dtype: int64

In [19]:
ser1, ser3

(USA        1
 Germany    2
 USSR       3
 Japan      4
 dtype: int64,
 Japan      1
 USA        2
 Germany    3
 USSR       4
 dtype: int64)

In [17]:
ser1 + ser3
# adding based on index

Germany    5
Japan      5
USA        3
USSR       7
dtype: int64

## Data Frames

In [21]:
from numpy.random import randn
np.random.seed(101)

''' 
The seed acts as an input to the random number generator algorithm that produces a sequence of pseudorandom numbers.
Setting the seed initializes the internal state of the algorithm.
Making the random sequence predictable and reproducible:

With a fixed seed, the random number generator will always produce the same sequence of pseudorandom numbers each time we run the code.
This makes the sequence reproducible - useful for testing, experimentation, and ensuring consistency between runs.
Removing "true" randomness:

With a fixed seed, the numbers generated are not truly random anymore, but follow a predictable pattern based on the algorithm and seed.
This may not be suitable in cases where we explicitly rely on randomness across trials. 
'''

' \nThe seed acts as an input to the random number generator algorithm that produces a sequence of pseudorandom numbers.\nSetting the seed initializes the internal state of the algorithm.\nMaking the random sequence predictable and reproducible:\n\nWith a fixed seed, the random number generator will always produce the same sequence of pseudorandom numbers each time we run the code.\nThis makes the sequence reproducible - useful for testing, experimentation, and ensuring consistency between runs.\nRemoving "true" randomness:\n\nWith a fixed seed, the numbers generated are not truly random anymore, but follow a predictable pattern based on the algorithm and seed.\nThis may not be suitable in cases where we explicitly rely on randomness across trials. \n'

In [25]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())
df
# So it is generating random numbers of 5 rows and 4 columns and we are giving names to rows form 'A' to 'E' and for columns from 'W' to 'Z'.
# .split() function is spliting the string for each column and row.

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

#### Selectiona and Indexing

In [27]:
df['W'] # so we are selecting a column.

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [29]:
df[['W','Z']] # multiple columns

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [31]:
df.W

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [32]:
type(df['W'])
# So DataFrmae is just multiple Series combine togather.

pandas.core.series.Series

#### Let's create a new column

In [33]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  0.009512
B  0.681209  1.035125 -0.031160  1.939932  0.650049
C -1.005187 -0.741790  0.187125 -0.732845 -0.818062
D -1.382920  1.482495  0.961458 -2.141212 -0.421462
E  0.992573  1.192241 -1.046780  1.292765 -0.054206

## axis=0 means "rows"
## axis=1 means "columns"

In [36]:
df.drop('new', axis=1)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [37]:
df
# Even after dropping the 'new' column, original dataframe didn't change.

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  0.009512
B  0.681209  1.035125 -0.031160  1.939932  0.650049
C -1.005187 -0.741790  0.187125 -0.732845 -0.818062
D -1.382920  1.482495  0.961458 -2.141212 -0.421462
E  0.992573  1.192241 -1.046780  1.292765 -0.054206

In [38]:
df.drop('new',axis=1, inplace=True)
# When we use "inplace=True" it means do changes in original DataFrame. 
df
# Now column has been dropped.

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765